<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @store.category %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @store.colour %>
</p>

<p>
  <strong>Description:</strong>
  <%= @store.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @store.price %>
</p>

<% @store.files.each do |file| %>
  <%= link_to file.filename, rails_blob_path(file, disposition: :attachment) %>
<% end %>
<strong>Attachments:</strong></br>
<% @store.files.each do |file| %>
 <%= image_tag file,width:"250px"%>
 <% end %>
 </br>
<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
